<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--    <servlet>
        <servlet-name>UploadController</servlet-name>
        <servlet-class>controllers.UploadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadController</servlet-name>
        <url-pattern>/UploadController</url-pattern>
    </servlet-mapping>-->
    <!--    <servlet>
        <servlet-name>DownloadController</servlet-name>
        <servlet-class>controllers.DownloadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadController</servlet-name>
        <url-pattern>/DownloadController</url-pattern>
    </servlet-mapping>-->
<!--    <servlet>
        <servlet-name>BeforeServlet</servlet-name>
        <servlet-class>controllers.BeforeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeforeServlet</servlet-name>
        <url-pattern>/BeforeServlet</url-pattern>
    </servlet-mapping>-->
</web-app>
